{{ form_open({ request: __SELF__~'::onCreateTeam', files: true }) }}

<div class="form-group">
    <label for="name">Team Name</label>
    <input class="form-control" id="name" name="name" placeholder="Enter a name for the team."
           aria-describedby="teamNameHelp" required>
    <small id="teamNameHelp" class="form-text text-muted">Enter a name for the team.</small>
</div>

<div class="form-group">
    <label for="initials">Team Initials</label>
    <input class="form-control" id="initials" name="initials" placeholder="Enter some initials for the team."
           aria-describedby="leagueSlugHelp" value="{{ team.initials }}">
    <small id="leagueSlugHelp" class="form-text text-muted">Enter initials for the team.</small>
</div>

<label for="image-file">Team Logo</label>
<div class="input-group image-preview mb-2">
    <input class="form-control image-preview-filename">
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary image-preview-clear" style="display:none;">
            <i class="fa fa-remove"></i> Clear
        </button>
    </span>
    <span class="input-group-btn">
        <div class="btn btn-primary image-preview-input">
            <i class="fa fa-folder-open"></i>
            <span class="image-preview-input-title">Choose File</span>
            <input type="file" accept="image/png, image/jpeg, image/gif" id="image-file" name="logo"/>
        </div>
    </span>
</div>

<button type="submit" data-attach-loading class="oc-loader btn btn-primary">Create Team</button>

{{ form_close() }}