<div class="d-flex flex-row justify-content-end flex-column flex-md-row">
    <div class="team-list mr-auto mb-2 mb-md-0">
        <div id="team-list" class="list-group">
            {% for team in teams %}
            <a href="javascript:;"
               data-request="{{ __SELF__ }}::onUpdate"
               data-request-data="mode: 'edit', team_id: '{{ team.id }}'"
               data-request-update="'{{ __SELF__ ~ '::edit' }}': '#editor-area'"
               class="list-group-item justify-content-between">{{ team.name }} &nbsp;&nbsp;&nbsp;<i class="fa fa-edit"></i></a>
            {% endfor %}
        </div>

        <div class="cleanse-league">
            {{ teams.render|raw }}
        </div>
    </div>

    <div class="team-search ml-md-2">
        <div class="league-team-search">
            {{ form_open(__SELF__.getSearchFormAttributes) }}

            <label class="sr-only" for="search">Search</label>
            <input class="form-control mb-2" id="search" name="search" placeholder="Search for a team."
                   aria-describedby="teamNameHelp" required>

            <button data-attach-loading class="oc-loader btn btn-primary">Search</button>

            {{ form_close() }}
        </div>
    </div>
</div>