<div class="jumbotron-league-bg">
    <div class="container-fluid">
        <h1>Schedule</h1>
        <div class="btn-group btn-group-sm justify-content-between mb-2" role="group" aria-label="Team Page Links">
            {% for team in teams %}
            <a class="btn btn-outline-info" href="/league/team/{{ team.team.slug }}">{{ team.team.name }}</a>
            {% endfor %}
        </div>

        {% set weekNum = 1 %}
        {% for key, week in matches %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Week {{ weekNum }}</li>
            <li class="breadcrumb-item active">{{ key|date('M d, Y') }}</li>
        </ol>
        <div class="card-group mb-5">
            {% for match in week %}
            <a class="card" href="/league/match/{{ match.id }}">
                <div class="card-block">
                    <h4>{{ match.one.team.name }}</h4>
                    vs
                    <h4>{{ match.two.team.name }}</h4>
                </div>
            </a>
            {% endfor %}
        </div>
        {% set weekNum = weekNum + 1 %}
        {% endfor %}
    </div>
</div>