<div class="league-player">
    <div class="stat-table-head d-flex flex-row">
        <img class="img-fluid mr-3" src="https://img2.finalfantasyxiv.com/f/d8165508e454f8ba36c8c4b64e78231d_7a573cbc0cda3a3dfc1795cb3d9f7b23fc0_96x96.jpg?1505076378">
        <div>
            <h1>{{ player.name }}</h1><!-- Requiem Reminiscence-->
            <p class="small">{{ player.team.name }}</p>
        </div>
    </div>

    <i>Work in project. Needs layout update and stat data!</i>

    <table class="table table-league">
        <thead>
        <tr>
            <th>Stat</th>
            <th class="text-center">Avg</th>
            <th class="text-center">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Kills</span>
                <span class="d-md-none">K</span>
            </th>
            <td class="text-center">3.3</td>
            <td class="text-center">6</td>
        </tr>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Deaths</span>
                <span class="d-md-none">D</span>
            </th>
            <td class="text-center">1.3</td>
            <td class="text-center">3</td>
        </tr>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Assists</span>
                <span class="d-md-none">A</span>
            </th>
            <td class="text-center">1.3</td>
            <td class="text-center">3</td>
        </tr>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Damage</span>
                <span class="d-md-none">DMG</span>
            </th>
            <td class="text-center">333,333.3</td>
            <td class="text-center">999,999</td>
        </tr>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Healing</span>
                <span class="d-md-none">HEAL0</span>
            </th>
            <td class="text-center">33,333.3</td>
            <td class="text-center">7,204,000</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex flex-row">
        <div class="team-roster flex-grow-one mr-3">
            <h3>Titles Earned</h3>
            <div class="d-flex flex-row titles-earned mb-3">
                <div class="2017-champ mr-5">
                    <img style="height: 128px;" src="/plugins/cleanse/league/assets/images/Aether_League_Medals_Champ.png">
                </div>
                <div class="2017-champ">
                    <img style="height: 128px;" src="/plugins/cleanse/league/assets/images/Aether_League_Medals_Fall.png">
                </div>
            </div>
        </div>

        <div class="team-results flex-grow-two">
            <h3>Match Averages</h3>
            <ul class="list-group standings-list mb-3">
                <li class="list-group-item active">
                    <span class="p-stats-col-stat">K/D/A</span>
                    <span class="p-stats-col-stat">Medals</span>
                    <span class="p-stats-col-stat">Damage</span>
                    <span class="p-stats-col-stat">Healing</span>
                </li>
                <li class="list-group-item">
                    <div class="p-stats-col-stat">
                        33 / 3 / 33
                    </div>
                    <span class="p-stats-col-stat">133</span>
                    <span class="p-stats-col-stat">333,333</span>
                    <span class="p-stats-col-stat">33,333</span>
                </li>
            </ul>

            <h5>Times Spammed Nice Job!: 33,333</h5>
        </div>
    </div>
</div>