<div class="league-player">
    <div class="stat-table-head d-flex flex-row">
        <img class="img-fluid mr-3" src="{{ player.avatarThumb(48) }}">
        <div>
            <h1>{{ player.name }}</h1>
            <p class="small"><a href="/league/team/{{ player.team.slug }}">{{ player.team.name }}</a></p>
        </div>
    </div>

    <table class="table table-league">
        <thead>
        <tr>
            <th><span class="sr-only">Stat</span></th>
            <th class="text-center">Avg</th>
            <th class="text-center">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Kills</span>
                <span class="d-md-none">K</span>
            </th>
            <td class="text-center">{{ player.seasonStats.kill_avg ?? '-' }}</td>
            <td class="text-center">{{ player.seasonStats.kills ?? '-' }}</td>
        </tr>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Deaths</span>
                <span class="d-md-none">D</span>
            </th>
            <td class="text-center">{{ player.seasonStats.death_avg ?? '-' }}</td>
            <td class="text-center">{{ player.seasonStats.deaths ?? '-' }}</td>
        </tr>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Assists</span>
                <span class="d-md-none">A</span>
            </th>
            <td class="text-center">{{ player.seasonStats.assist_avg ?? '-' }}</td>
            <td class="text-center">{{ player.seasonStats.assists ?? '-' }}</td>
        </tr>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Damage</span>
                <span class="d-md-none">DMG</span>
            </th>
            <td class="text-center">{{ player.seasonStats.damage_avg ?? '-' }}</td>
            <td class="text-center">{{ player.seasonStats.damage ?? '-' }}</td>
        </tr>
        <tr class="row-league">
            <th scope="row">
                <span class="d-none d-md-table-cell">Healing</span>
                <span class="d-md-none">HEAL0</span>
            </th>
            <td class="text-center">{{ player.seasonStats.healing_avg ?? '-' }}</td>
            <td class="text-center">{{ player.seasonStats.healing ?? '-' }}</td>
        </tr>
        </tbody>
    </table>

    <!--<div class="d-flex flex-row">-->
        <!--<div class="team-roster flex-grow-one mr-3">-->
            <!--<h3>Titles Earned</h3>-->
            <!--<div class="d-flex flex-row titles-earned mb-3">-->
                <!--<p>None yet.</p>-->
                <!--&lt;!&ndash;<div class="2017-champ mr-5">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img style="height: 128px;" src="/plugins/cleanse/league/assets/images/Aether_League_Medals_Champ.png">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="2017-champ">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img style="height: 128px;" src="/plugins/cleanse/league/assets/images/Aether_League_Medals_Fall.png">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>