<div class="league-rules">
    <ul class="list-group">
        <li class="list-group-item flex-column align-items-start">
            <h1>Aether League Rules</h1>
        </li>
        <li class="list-group-item flex-column align-items-start">
            <h2>Rule I. Sportsmanship</h2>
            <p>Be kind and respectful to each other and your competitors. Healthy, competitive banter is encouraged,
                but personal attacks are not. Please keep things civil and raise any concerns to a league staff
                member.</p>
        </li>
        <li class="list-group-item flex-column align-items-start">
            <h2>Rule II. Third Party Programs</h2>
            <p>The use of 3rd party programs is <strong>strictly</strong> prohibited (Ex. ACT).</p>
            <ul>
                <li>The use of these programs will result in a disqualification for the current season and a warning
                    to be placed on the team.</li>
                <li>3 warnings and you are banned from all future competitions.</li>
            </ul>
        </li>
        <li class="list-group-item flex-column align-items-start">
            <h2>Rule III. Rosters</h2>
            <p>There are to be no roster swaps mid-season. Each team has a total number of 6 players, these rosters
                are locked once the season starts and cannot be changed until after that seasons split concludes</p>
            <ul>
                <li>During weekly match-ups and post season play teams can swap players around in between games as
                    they see fit just as long as they pick a player out of their 6 player roster.</li>
            </ul>
        </li>
        <li class="list-group-item flex-column align-items-start">
            <h2>Rule IV. Disputes</h2>
            <p>All disputes are to be handled by the league officiator for the match in question, if it
                cannot be settled between the teams + officiator it will be bubbled up to the appropriate league
                staff member.</p>
            <ul>
                <li>All disputes must be brought up by a designated team captain.</li>
                <li>Each team will have to assign 1 team captain to be their representative.</li>
            </ul>
        </li>
        <li class="list-group-item flex-column align-items-start">
            <h2>Rule V. Team Names</h2>
            <p>Names for teams cannot represent data centers or server names. Be original.</p>
        </li>
        <li class="list-group-item flex-column align-items-start">
            <h2>Rule VI. League Season</h2>
            <p>Each season, concluding with a seasonal tournament, will last 12 weeks (1 matchup per week).</p>
            <ul>
                <li>Qualifying for a seasonal tournament will solely rely on your team's record by the end of
                    season.</li>
                <li>Qualifying teams consist of the top 50% of teams.</li>
                <li>Tie breakers will be as follows:
                    <ul>
                        <li>1) Team record vs. tied team</li>
                        <li>2) Total Kills of team</li>
                        <li>3) Strength of schedule</li>
                    </ul>
                </li>
                <li>Earn points during the season to qualify for the League Championships at the end of the year</li>
                <li>The team that wins the Spring Season will be auto-qualified as the #1 seed for the League
                    Championships.</li>
            </ul>
        </li>
        <li class="list-group-item flex-column align-items-start">
            <h2>League Championships</h2>
            <p></p>
            <ul>
                <li>Qualifying for the Grand Championship will solely rely on how many championship points a team has
                    by end of year.</li>
                <li>Championship points are gained by participating in each seasonal split as outlined below:</li>
            </ul>
            <table class="table table-responsive table-hover" markdown="1">
                <thead>
                <tr>
                    <th>Place</th>
                    <th>Fall Split</th>
                    <th>Winter Split</th>
                    <th>Spring Split</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1st</th>
                    <td>90</td>
                    <td>110</td>
                    <td>Auto Qualify</td>
                </tr>
                <tr>
                    <th scope="row">2nd</th>
                    <td>70</td>
                    <td>90</td>
                    <td>110</td>
                </tr>
                <tr>
                    <th scope="row">3rd</th>
                    <td>50</td>
                    <td>70</td>
                    <td>90</td>
                </tr>
                <tr>
                    <th scope="row">4th</th>
                    <td>30</td>
                    <td>40</td>
                    <td>50</td>
                </tr>
                <tr>
                    <th scope="row">5th-6th</th>
                    <td>10</td>
                    <td>20</td>
                    <td>30</td>
                </tr>
                <tr>
                    <th scope="row">7th+</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
            <p><em>Note: Championship points awarded per split will be adjusted based off of numbers of teams
                participating.</em></p>
        </li>
    </ul>
</div>