<div class="league-schedule">
    <div class="d-flex flex-row justify-content-between">
        <h1>Schedule</h1>
        <div class="dropdown">
            <div class="btn-group" role="group">
                <button id="btnGroupTeamPage" type="button" class="btn btn-outline-primary btn-sm dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    By Team
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupTeamPage">
                    {% for team in teams %}
                    <a class="dropdown-item" href="/league/team/{{ team.team.slug }}/schedule/{{ season.id }}">
                        <span class="d-none d-md-block">{{ team.team.name }}</span>
                        <span class="d-md-none">{{ team.team.initials }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% set weekNum = 1 %}
    {% for key, week in matches %}
    <ol class="breadcrumb mb-0">
        <li id="week-{{ weekNum }}" class="breadcrumb-item active"><a href="#week-{{ weekNum }}">Week {{ weekNum }}</a></li>
    </ol>
    <div class="card-group mb-2">
        {% for match in week %}
        <div class="card">
            <div class="card-body" style="background-image: linear-gradient(to bottom, #212529, #1c2023);">
                <div class="d-flex flex-row mb-1">
                    <div class="team-logo">
                        <img src="{{ match.one.team.logo.getThumb(48, 48, {'mode': 'crop'}) }}">
                    </div>
                    <div class="team-name-record">
                        <h5>
                            <a href="/league/team/{{ match.one.team.slug }}">
                                <span class="team-name d-none d-md-block">{{ match.one.team.name }}</span>
                                <span class="team-initials d-md-none">{{ match.one.team.initials }}</span>
                            </a>
                        </h5>
                        <p class="record">
                            {{ match.one.match_wins ?? 0 }}W - {{ match.one.match_losses ?? 0 }}L
                        </p>
                    </div>
                    {% if match.winner_id %}
                    <div class="ml-auto text-secondary">{{ match.team_one_score ?? 0 }}</div>
                    {% endif %}
                </div>
                <div class="d-flex flex-row mb-3">
                    <div class="team-logo">
                        <img src="{{ match.two.team.logo.getThumb(48, 48, {'mode': 'crop'}) }}">
                    </div>
                    <div class="team-name-record">
                        <h5>
                            <a href="/league/team/{{ match.two.team.slug }}">
                                <span class="team-name d-none d-md-block">{{ match.two.team.name }}</span>
                                <span class="team-initials d-md-none">{{ match.two.team.initials }}</span>
                            </a>
                        </h5>
                        <p class="record">
                            {{ match.two.match_wins ?? 0 }}W - {{ match.two.match_losses ?? 0 }}L
                        </p>
                    </div>
                    {% if match.winner_id %}
                    <div class="ml-auto text-secondary">{{ match.team_two_score ?? 0 }}</div>
                    {% endif %}
                </div>
                <a class="btn btn-block btn-outline-primary" href="/league/match/{{ match.id }}">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% set weekNum = weekNum + 1 %}
    {% endfor %}
</div>