<div class="row league-admin-bg">
    <div class="col-md-4 mb-2 mb-xs-0">
        <div class="list-group">
            <a href="/manager" class="list-group-item list-group-item-action pr-5 active">
                <i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Back to Manager Panel
            </a>
            <a href="/manager/team"
               class="list-group-item list-group-item-action">Back to Teams</a>
        </div>
    </div>

    <div id="editor-area" class="col-md-8">
        <div id="cleanse-league-form-message">
            {% partial __SELF__~'::flash-message' %}
        </div>

        {% partial __SELF__~'::edit-tabs' %}
    </div>
</div>