<div class="d-flex flex-column-reverse justify-content-end flex-column flex-md-row">
    <div class="team-edit mr-auto mb-2 mb-md-0">
        {{ form_open({ request: __SELF__~'::onEditTeam' }) }}

        <input type="hidden" name="team_id" value="{{ team.id }}">

        <div class="form-group">
            <label for="name">Team Name</label>
            <input class="form-control" id="name" name="name" placeholder="Enter a name for the team."
                   aria-describedby="teamNameHelp" value="{{ team.name }}" required>
            <small id="teamNameHelp" class="form-text text-muted">Enter a name for the team.</small>
        </div>

        <div class="form-group">
            <label for="initials">Team Initials</label>
            <input class="form-control" id="initials" name="initials" placeholder="Enter some initials for the team."
                   aria-describedby="leagueSlugHelp" value="{{ team.initials }}" required>
            <small id="leagueSlugHelp" class="form-text text-muted">Enter initials for the team.</small>
        </div>

        <button data-attach-loading class="oc-loader btn btn-outline-primary">Edit Team</button>

        {{ form_close() }}
    </div>

    <div class="ml-md-4">
        {{ form_open() }}
        <label for="file_data">Logo</label>
        {% component 'cleanseImageUploader' %}
        {{ form_close() }}
    </div>
</div>