.responsiv-uploader-fileupload.style-image-single .upload-button {
    border: 2px dotted #48cfc5 !important;
}

.responsiv-uploader-fileupload.style-image-single .upload-button .upload-button-icon:before {
    color: #48cfc5 !important;
}

.team-roster {
  padding-top: .5rem;
}