@mixin responsive-headings($tag-name, $font-size, $multiplier) {
  $selector: "#{$tag-name}, .#{$tag-name}";

  #{$selector} {
    font-size: $font-size * (1 - (0.8 * $multiplier));
  }

  @include media-breakpoint-up(xs) {
    #{$selector} {
      font-size: $font-size * (1 - (0.4 * $multiplier));
    }
  }
  @include media-breakpoint-up(md) {
    #{$selector} {
      font-size: $font-size * (1 - (0.1 * $multiplier));
    }
  }
  @include media-breakpoint-up(lg) {
    #{$selector} {
      font-size: $font-size;
    }
  }
}