
<h1 style="color: #fff;">Statistics</h1>
<div class="container-fluid league-match-wrapper">
    <h3 class="match-date-type">Top Damage</h3>
    <ul class="list-group standings-list">
        <li class="list-group-item active">
            <span class="rank">Rank</span>
            <span class="team">Player</span>
            <span class="wins">Damage Average</span>
            <span class="losses">Damage Total</span>
        </li>
        {% set dmgRank = 1 %}
        {% for dmg in damage %}
        <li class="list-group-item">
            <span class="rank">{{ dmgRank }}</span>
            <div class="team">
                <a href="/league/player/{{ dmg.player.slug }}">
                    {{ dmg.player.player.name }}
                </a>
            </div>
            <span class="wins">{{ dmg.damage }}</span>
            <span class="losses">{{ dmg.damage }}</span>
        </li>
        {% set dmgRank = dmgRank + 1 %}
        {% else %}
        <li class="list-group-item">
            <span class="rank">No stats, yet.</span>
        </li>
        {% endfor %}
    </ul>

    <h3 class="match-date-type">Top Healing</h3>
    <ul class="list-group standings-list">
        <li class="list-group-item active">
            <span class="rank">Rank</span>
            <span class="team">Player</span>
            <span class="wins">Healing Average</span>
            <span class="losses">Healing Total</span>
        </li>
        {% set healRank = 1 %}
        {% for hl in healing %}
        <li class="list-group-item">
            <span class="rank">{{ healRank }}</span>
            <div class="team">
                <a href="/league/player/{{ dmg.player.slug }}">
                    {{ hl.player.player.name }}
                </a>
            </div>
            <span class="wins">{{ hl.damage }}</span>
            <span class="losses">{{ hl.damage }}</span>
        </li>
        {% set healRank = healRank + 1 %}
        {% else %}
        <li class="list-group-item">
            <span class="rank">No stats, yet.</span>
        </li>
        {% endfor %}
    </ul>

    <h3 class="match-date-type">Ten Stack Me Bro', Most Medals</h3>
    <ul class="list-group standings-list">
        <li class="list-group-item active">
            <span class="rank">Rank</span>
            <span class="team">Player</span>
            <span class="wins">Medals Average</span>
            <span class="losses">Medals Total</span>
        </li>
        {% set mdlRank = 1 %}
        {% for mdl in medals %}
        <li class="list-group-item">
            <span class="rank">{{ mdlRank }}</span>
            <div class="team">
                <a href="/league/player/{{ mdl.player.slug }}">
                    {{ mdl.player.player.name }}
                </a>
            </div>
            <span class="wins">{{ mdl.medals }}</span>
            <span class="losses">{{ mdl.medals }}</span>
        </li>
        {% set mdlRank = mdlRank + 1 %}
        {% else %}
        <li class="list-group-item">
            <span class="rank">No stats, yet.</span>
        </li>
        {% endfor %}
    </ul>

    <h3 class="match-date-type">Enough Already, Least Medals</h3>
    <ul class="list-group standings-list">
        <li class="list-group-item active">
            <span class="rank">Rank</span>
            <span class="team">Player</span>
            <span class="wins">Medals Average</span>
            <span class="losses">Medals Total</span>
        </li>
        {% set mdlsRank = 1 %}
        {% for mdls in least %}
        <li class="list-group-item">
            <span class="rank">{{ mdlsRank }}</span>
            <div class="team">
                <a href="/league/player/{{ mdls.player.slug }}">
                    {{ mdls.player.player.name }}
                </a>
            </div>
            <span class="wins">{{ mdls.medals }}</span>
            <span class="losses">{{ mdls.medals }}</span>
        </li>
        {% set mdlsRank = mdlsRank + 1 %}
        {% else %}
        <li class="list-group-item">
            <span class="rank">No stats, yet.</span>
        </li>
        {% endfor %}
    </ul>

    <h3 class="match-date-type">Killing Machine</h3>
    <ul class="list-group standings-list">
        <li class="list-group-item active">
            <span class="rank">Rank</span>
            <span class="team">Player</span>
            <span class="wins">Kills Average</span>
            <span class="losses">Kills Total</span>
        </li>
        {% set kRank = 1 %}
        {% for k in kills %}
        <li class="list-group-item">
            <span class="rank">{{ kRank }}</span>
            <div class="team">
                <a href="/league/player/{{ k.player.slug }}">
                    {{ k.player.player.name }}
                </a>
            </div>
            <span class="wins">{{ k.medals }}</span>
            <span class="losses">{{ k.medals }}</span>
        </li>
        {% set kRank = kRank + 1 %}
        {% else %}
        <li class="list-group-item">
            <span class="rank">No stats, yet.</span>
        </li>
        {% endfor %}
    </ul>

    <h3 class="match-date-type">Alley-oop</h3>
    <ul class="list-group standings-list">
        <li class="list-group-item active">
            <span class="rank">Rank</span>
            <span class="team">Player</span>
            <span class="wins">Medals Average</span>
            <span class="losses">Medals Total</span>
        </li>
        {% set aRank = 1 %}
        {% for a in assists %}
        <li class="list-group-item">
            <span class="rank">{{ aRank }}</span>
            <div class="team">
                <a href="/league/player/{{ a.player.slug }}">
                    {{ a.player.player.name }}
                </a>
            </div>
            <span class="wins">{{ a.medals }}</span>
            <span class="losses">{{ a.medals }}</span>
        </li>
        {% set aRank = aRank + 1 %}
        {% else %}
        <li class="list-group-item">
            <span class="rank">No stats, yet.</span>
        </li>
        {% endfor %}
    </ul>

    <h3 class="match-date-type">RIP in Peace</h3>
    <ul class="list-group standings-list">
        <li class="list-group-item active">
            <span class="rank">Rank</span>
            <span class="team">Player</span>
            <span class="wins">Deaths Average</span>
            <span class="losses">Deaths Total</span>
        </li>
        {% set dRank = 1 %}
        {% for d in deaths %}
        <li class="list-group-item">
            <span class="rank">{{ dRank }}</span>
            <div class="team">
                <a href="/league/player/{{ d.player.slug }}">
                    {{ d.player.player.name }}
                </a>
            </div>
            <span class="wins">{{ d.medals }}</span>
            <span class="losses">{{ d.medals }}</span>
        </li>
        {% set dRank = dRank + 1 %}
        {% else %}
        <li class="list-group-item">
            <span class="rank">No stats, yet.</span>
        </li>
        {% endfor %}
    </ul>
</div>