<h3 class="stat-table-head">
    Most Medals
    <span class="pull-right">Ten Stack Me Bro'</span>
</h3>
<table class="table table-league">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th>Player</th>
        <th class="text-center">Avg</th>
        <th class="text-center">Total</th>
    </tr>
    </thead>
    <tbody>
    {% set mdlRank = 1 %}
    {% for mdl in medals %}
    <tr class="row-league">
        <th scope="row" class="text-center">{{ mdlRank }}</th>
        <td>
            <a href="/league/player/{{ mdl.player.slug }}">
                {{ mdl.player.name }}
            </a>
        </td>
        <td class="text-center">{{ (mdl.medals / mdl.game_total)|round(1, 'floor') }}</td>
        <td class="text-center">{{ mdl.medals }}</td>
    </tr>
    {% set mdlRank = mdlRank + 1 %}
    {% else %}
    <tr class="row-league">
        <td colspan="4">
            No stats, yet.
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>