<h1>Create Schedule for Season</h1>
{{ form_open({ request: __SELF__~'::onCreateSchedule' }) }}

<div class="form-group">
    <label for="season">Season</label>
    <select class="form-control" id="season" name="season">
        {% for s in season %}
        <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="start">Start Date</label>
    <input class="form-control" id="start" name="start" placeholder="Enter season start date."
           aria-describedby="startDateHelp" type="week" required>
    <small id="startDateHelp" class="form-text text-muted">Use form dropdown on the far right.</small>
</div>

<div class="form-group">
    <label for="matches">Team Matches Per Season</label>
    <input class="form-control" id="length" name="length"
           aria-describedby="lengthHelp" placeholder="Enter #." required>
    <small id="lengthHelp" class="form-text text-muted">Enter number of matches a team plays per season.</small>
</div>

<div class="form-group">
    <label for="weeks">Matches Per Week</label>
    <input class="form-control" id="per" name="per"
           aria-describedby="perHelp" placeholder="Enter # of matches." required>
    <small id="perHelp" class="form-text text-muted">Enter # of matches per week.</small>
</div>

<button data-attach-loading class="oc-loader btn btn-outline-primary">Create Seasonal Schedule</button>

{{ form_close() }}
<hr>
<a href="javascript:;"
   data-request="{{ __SELF__ }}::onUpdate"
   data-request-data="mode: 'cancel'"
   data-request-update="'{{ __SELF__ ~ '::default' }}': '#editor-area'"
   class="cancel btn btn-outline-danger">
    Cancel
</a>