.bracket-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "title title title"
        "main main footer";
}

.bracket-header {
    grid-area: title;
    background-color: skyblue;
}

.bracket {
    grid-area: main;
    background-color: sandybrown;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.bracket-footer {
    grid-area: footer;
    background-color: greenyellow;
}