/* General */
:root {
    --black-primary: #010001;
    --white-primary: #ECEEEF;
    --color-one-primary: #00CE97;
    --color-one-secondary: #80DED9;
    --color-two-primary: #1E2C30;
    --color-two-secondary: #84BC9C;
    --color-three-primary: #ff3800;
    --color-three-secondary: #FF715B;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
            to right,
            var(--color-two-primary),
            var(--black-primary)
    );
}

a {
    color: var(--color-one-primary);
}

a:hover, a:active, a:focus {
    color: var(--color-one-secondary);
}

h1 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
}

h2 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1px;
}

h3 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
}

h4 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .5px;
}

p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: .25px;
}

.caption {
    color: #777777;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: .5px;
}

.form-control:focus {
    border-color: var(--color-one-secondary);
}

button, input, optgroup, select, textarea {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.btn-primary {
    color: var(--white-primary);
    background-color: var(--color-one-primary);
    border-color: var(--color-one-primary);
}

.btn-primary:hover {
    color: var(--white-primary);
    background-color: var(--color-two-primary);
    border-color: var(--black-primary);
}

.btn-secondary {
    color: var(--white-primary);
    background-color: var(--color-three-primary);
    border-color: var(--color-three-primary);
}

.btn-secondary:hover {
    color: var(--white-primary);
    background-color: var(--color-three-secondary);
    border-color: var(--color-three-secondary);
}

.custom-file-control:lang(en)::after {
    content: "Choose Logo file...";
}

.cleanse-league .pagination {
    padding: 10px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
}

.cleanse-league .pagination li {
    padding: 0 5px;
}

.cleanse-league .pagination li:first-child {
    border-left: 5px solid rgb(59, 132, 196);
}

.cleanse-league .pagination li a {
    color: rgb(59, 132, 196);
}

.cleanse-league .pagination li.active a {
    border-bottom: 1px solid rgb(59, 132, 196);
}

.list-group-item {
    background-color: var(--color-two-primary);
}

.list-group-item.active {
    z-index: 2;
    color: var(--white-primary);
    background-image: linear-gradient(to bottom, var(--color-two-primary) 0%, var(--black-primary) 100%);
    border-color: var(--color-two-primary);
}

.list-group-item.disabled, .list-group-item:disabled {
    color: var(--color-three-primary);
    cursor: not-allowed;
    background-color: var(--color-two-primary);
}

.list-group-item-action {
    color: var(--color-one-primary);
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: var(--color-one-secondary);
    text-decoration: none;
    background-color: var(--color-two-primary);
}

.league-admin-bg {
    padding: 16px 0;
    background: var(--white-primary);
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: var(--color-one-primary);
    background-color: var(--white-primary);
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}

.manager-sections > div {
    margin: 0 0 10px;
}

.schedule-team-btns {
    width: 100%;
}

.team-list, .team-edit, .schedule-team-btn {
    flex-grow: 1 !important;
}

.schedule-team-score {
    font-weight: 400;
}

.list-group a {
    cursor: pointer;
}

.league-nav {
    margin-bottom: 20px;
}

.responsiv-uploader-fileupload.style-image-single .upload-button {
    border: 2px dotted rgba(30, 44, 48, 0.75) !important;
    transition: all 0.5s ease;
}

.responsiv-uploader-fileupload.style-image-single .upload-button:hover {
    border: 2px dotted rgba(0, 206, 151, 1) !important;
}

.responsiv-uploader-fileupload.style-image-single .upload-button .upload-button-icon:before {
    color: rgba(30, 44, 48, 0.75) !important;
    transition: all 0.5s ease;
}

.responsiv-uploader-fileupload.style-image-single .upload-button:hover .upload-button-icon:before {
    color: rgba(0, 206, 151, 1) !important;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: var(--white-primary);
    cursor: default;
    background-image: linear-gradient(135deg, rgb(59, 132, 196) 0%, #0E5CAD 100%);
}

.nav-bg-pvpaissa {
    background-color: var(--color-two-primary);
    border-bottom: 1px solid rgba(66, 66, 66, .66);
}

.navbar-inverse .navbar-nav .nav-link, .footer-links a {
    color: var(--color-one-primary);
    text-decoration: none;
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
    color: var(--color-one-secondary);
}

.jumbotron-league-bg {
    padding: 1.25rem;
    background: url("/themes/pvpaissa/assets/images/xiv-jobs.png") bottom center var(--color-two-primary);
    background-size: cover;
    border-left: 1px solid var(--color-three-primary);
}

.jumbotron-league-bg h1,
.jumbotron-league-bg h3,
.jumbotron-league-bg p {
    color: var(--white-primary);
}

.jumbotron-sub-text p {
    font-size: 1.25rem;
    font-weight: 300;
}

.jumbotron-league-bg .list-group-item {
    color: var(--color-two-primary);
}

.league-rules table {
    margin: .75rem 0;
}

.vision-excerpt p {
    font-size: 1.25rem;
    font-weight: 300;
}

.season-match h3 {
    color: #000;
    font-size: .9rem;
}

/* Schedule */
.league-schedule h1 {
    color: var(--white-primary);
}

.btn-outline-info {
    color: var(--color-one-primary);
    background-image: none;
    background-color: transparent;
    border-color: var(--color-one-primary);
}

.btn-outline-info:hover {
    color: var(--white-primary);
    background-color: var(--color-one-primary);
    border-color: var(--color-one-primary);
}

.league-schedule a.card:hover .card-block {
    background: var(--white-primary);
}

.league-schedule a.card:hover,
.league-schedule a.card:active,
.league-schedule a.card:focus {
    text-decoration: none;
}

.league-schedule a.card:hover h5,
.league-schedule a.card:active h5,
.league-schedule a.card:focus h5 {
    color: var(--black-primary);
}

/* Match */
.league-wrapper {
    padding-bottom: 1rem;
    background: var(--white-primary);
}

.league-match-wrapper {
    padding-bottom: 1rem;
    background: var(--white-primary);
}

.league-match-wrapper h1 {
    line-height: 0;
    text-indent: -9999px;
}

.match-date-type {
    padding: 0 1.1rem;
    margin-bottom: .25rem;
    border-bottom: 1px solid var(--color-one-primary);
}

.match-date-type p {
    margin-bottom: .1rem;
    font-weight: bold;
}

.match-up {
    margin-bottom: 1rem;
    color: var(--color-one-primary);
}

.team-one-logo img,
.team-two-logo img {
    width: 128px;
}

.match-up h2 {
    font-size: 1.125rem;
    text-align: center;
}

.match-up p {
    text-align: center;
}

.tab-content > .tab-pane {
    padding: 1.125rem;
    background: #fff;
}

.team_one .img-container .focus-image,
.team_two .img-container .focus-image {
    width: 48px;
}

/* team-edit-roster-free-agents */
.flex-grow-one {
    flex-grow: 1;
}

.flex-grow-two {
    flex-grow: 2;
}

.team-edit-roster-free-agents {
    flex-grow: 2;
}

.team-edit-roster-players {
    flex-grow: 1;
}

/* Team */
.league-team {
    padding: 2rem 1rem;
    background-color: var(--white-primary);
}

.seasonal-results {
    color: var(--color-one-secondary);
}

/* Round Title Bar */
.bracket-rounds-row {
    opacity: 1;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    font-size: 12px;
}

.round-label rect {
    fill: var(--color-one-primary);
}

.round-label text {
    fill: var(--black-primary);
    font-size: 12px;
}

/* Bracket */
.league-bracket {
    position: relative;
}

.league-bracket-holder {
    position: relative;
    height: calc(1.5 * 400px);
    width: 100%;
    max-height: 100vh;
    overflow: auto;
}

svg:not(:root) {
    overflow: hidden;
}

.bracket-svg {
    position: absolute;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    overflow: visible;
    -moz-user-select: none;
    -ms-user-select: none;
    transform: scale(1.3);
}

.bracket-line {
    fill: none;
    stroke: var(--color-one-primary);
    stroke-width: 2px;
}

svg.match--player.-draggable {
    cursor: move;
}

svg.match--player:not(:root) {
    overflow: visible;
}

/* Match */
.match {
    /* ? */
}

.match-clip-path {
    clip-path: url(#matchClipPath)
}

.match.complete {
    /* ? */
}

.match.in-progress {
    /* ? */
}

.match-number {
    fill: var(--color-one-primary);
    font-size: 10px;
}

.match-wrapper-background {
    fill: var(--color-one-secondary);
    fill-opacity: .1;
    shape-rendering: auto;
}

.match:hover .match-wrapper-background {
    fill-opacity: .33;
    filter: url(#white-glow);
}

.match-base-background {
    fill: var(--color-one-primary);
}

.match-player {
    /* */
}

.match-player-background {
    fill: var(--color-two-primary);
}

.match-player-name {
    fill: var(--color-one-secondary);
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
}

.match-seed-background {
    fill: var(--black-primary);
    opacity: 0.65;
}

.match-seed {
    fill: var(--color-one-secondary);
    font-size: 10px;
    letter-spacing: -0.5px;
    text-shadow: none;
}

.match-player-score-background {
    fill: var(--white-primary);
}

.match-player-score {
    fill: var(--color-two-primary);
    font-size: 10px;
    letter-spacing: -0.5px;
    text-shadow: none;
}

.cleanse-league-team-player:not(:last-child) {
    margin: 1rem 0;
    border: solid var(--color-two-secondary);
    border-width: 0 0 1px;
}

.cleanse-league-team-player:last-child {
    padding: 0 0 1rem;
    margin: 0 0 3rem;
    border: solid var(--color-two-secondary);
    border-radius: .75rem;
    border-width: 0 0 .2rem;
}

.upload-button {
    width: 100% !important;
}

@media (min-width: 992px) {
    .jumbotron-league-bg h1,
    .jumbotron-league-bg .jumbotron-sub-text {
        margin-right: 300px;
    }
}

@media (min-width: 768px) {
    .match-game-list {
        width: 25%;
    }
}

@media (max-width: 767px) {
    .league-admin-bg {
        padding: 16px 0;
        background: var(--white-primary);
    }

    .team-list {
        width: 100%;
    }

    .team-roster {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--color-one-secondary);
    }
}

@media (max-width: 575px) {
    .match-up .display-4,
    .league-team .team-name .display-3 {
        font-size: 1.5rem;
    }

    .league-team .team-name .lead {
        font-size: .85rem;
    }

    .league-team .team-logo img {
        width: 96px;
    }
}