<div class="jumbotron-league-bg">
    <div class="container">
        <h1 class="display-3">League History</h1>
        <p class="small">{{ league.name }}</p>
        {% for championship in league.championships %}
        <h3>{{ championship.name }}</h3>
        <ul class="mb-2 list-group">
            {% for season in championship.seasons %}
            <li class="list-group-item align-items-start flex-column">
                <p><span class="small">Season</span> {{ season.name }}</p>
                <p><span class="small">Winner</span> {{ season.winner }}</p>
            </li>
            {% else %}
            <li class="list-group-item">No seasons recorded.</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>