{{ form_open({ request: __SELF__~'::onEditPlayer' }) }}

<input type="hidden" name="player_id" value="{{ player.id }}">

<div class="form-group">
    <label for="name">Player Name</label>
    <input class="form-control" id="name" name="name" placeholder="Enter a name for the player."
           aria-describedby="playerNameHelp" value="{{ player.name }}" required>
    <small id="playerNameHelp" class="form-text text-muted">Enter a name for the player.</small>
</div>

<button data-attach-loading class="oc-loader btn btn-outline-primary">Edit Player</button>

{{ form_close() }}