<div id="scorecard">
    <div class="standings-container">
        <table class="limited_width standings table table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Participant</th>
                <th>Played</th>
                <th>Remaining</th>
                <th class="ranking-1">
<span class="tip stat-tip" data-title="Match record: Wins - Losses - Ties" data-toggle="tooltip" data-original-title=""
      title="">
Match W-L-T
</span>
                </th>
                <th class="ranking-2">
<span class="tip stat-tip" data-title="Number of match wins against tied opponents" data-toggle="tooltip"
      data-original-title="" title="">
TB
</span>
                </th>
                <th class="ranking-3">
<span class="tip stat-tip" data-title="Game/Set wins (each set of scores reported represents a Game/Set)"
      data-toggle="tooltip" data-original-title="" title="">
Set Wins
</span>
                </th>
                <th>
<span class="tip stat-tip" data-title="Game/Set ties (each set of scores reported represents a Game/Set)"
      data-toggle="tooltip" data-original-title="" title="">
Set Ties
</span>
                </th>
                <th class="ranking-4">
<span class="tip stat-tip" data-title="Total number of points scored" data-toggle="tooltip" data-original-title=""
      title="">
Pts
</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td class="participant text-left">
                    Pacific - Team Get
                </td>
                <td>1</td>
                <td>6</td>
                <td>1 - 0 - 0</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>19</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="participant text-left">
                    SL - 1Hit
                </td>
                <td>1</td>
                <td>6</td>
                <td>1 - 0 - 0</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>18</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="participant text-left">
                    Min - Nwrz.Foetwenty
                </td>
                <td>1</td>
                <td>6</td>
                <td>1 - 0 - 0</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>14</td>
            </tr>
            <tr>
                <td>4</td>
                <td class="participant text-left">
                    TNC B - PGI PRO
                </td>
                <td>1</td>
                <td>6</td>
                <td>1 - 0 - 0</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>14</td>
            </tr>
            <tr>
                <td>5</td>
                <td class="participant text-left">
                    NCL - M1racle
                </td>
                <td>1</td>
                <td>6</td>
                <td>0 - 1 - 0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>17</td>
            </tr>
            <tr>
                <td>6</td>
                <td class="participant text-left">
                    TNC A - Sakalbibe
                </td>
                <td>1</td>
                <td>6</td>
                <td>0 - 1 - 0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>14</td>
            </tr>
            <tr>
                <td>7</td>
                <td class="participant text-left">
                    NCR - Wagas
                </td>
                <td>1</td>
                <td>6</td>
                <td>0 - 1 - 0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
            </tr>
            <tr>
                <td>8</td>
                <td class="participant text-left">
                    Vis - DIrty Dirty
                </td>
                <td>1</td>
                <td>6</td>
                <td>0 - 1 - 0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>