<h3 class="stat-table-head">Top Damage</h3>
<table class="table table-league">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th>Player</th>
        <th class="text-center">Avg</th>
        <th class="text-center">Total</th>
    </tr>
    </thead>
    <tbody>
    {% set dmgRank = 1 %}
    {% for dmg in damage %}
    <tr class="row-league">
        <th scope="row" class="text-center">{{ dmgRank }}</th>
        <td>
            <a href="/league/player/{{ dmg.player.slug }}">
                {{ dmg.player.name }}
            </a>
        </td>
        <td class="text-center">{{ (dmg.damage / dmg.game_total)|round(1, 'floor') }}</td>
        <td class="text-center">{{ dmg.damage }}</td>
    </tr>
    {% set dmgRank = dmgRank + 1 %}
    {% else %}
    <tr class="row-league">
        <td colspan="4">
            No stats, yet.
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>