<div class="container-fluid league-wrapper">
    <div class="match-up">
        <h1>{{ match.one.team.name }} vs {{ match.two.team.name }}</h1>
    </div>

    <div class="match-games">
        <h3>Games:</h3>
        <ol>
            <li>Game 1</li>
            <li>Game 2</li>
            <li>Game 3</li>
            <li>Game 4</li>
            <li>Game 5</li>
        </ol>
    </div>

    <div class="match-vods">
        <h3>Videos:</h3>
        <ol>
            <li>Game 1</li>
            <li>Game 2</li>
            <li>Game 3</li>
            <li>Game 4</li>
            <li>Game 5</li>
        </ol>
    </div>


</div>