<div id="cleanse-league-form-message">
    {% partial __SELF__~'::cleanse-message' %}
</div>

<div class="container-fluid league-admin-bg">
    <div class="row">
        <div class="col-md-9 push-md-3">
            <small>Current Championship:</small>
            <h4>{{ championship.name }}</h4>
            <p><span class="small">Current Season:</span> {{ championship.currentSeason.name }}</p>
            <hr>
            <nav class="nav nav-pills flex-column flex-sm-row league-nav">
                <a class="flex-sm-fill text-sm-center nav-link active" href="/manager/championships">Instructions</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">Manage Details</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
                <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
            </nav>

            {% for tourney in championship.tourneys %}
                <p>{{ tourney.name }}</p>
            {% endfor %}

            <p>
                - Instructions<br>
                - <a href="#"><i class="fa fa-youtube-play"></i> YT Link?</a>: How to edit championship bracket.
            </p>
        </div>
        <div class="col-md-3 pull-md-9 manager-sections">
            {% partial __SELF__~'::panel-navigation' %}
        </div>
    </div>
</div>