<div class="league-bracket-holder">
    <svg class="bracket-svg" width="1024" height="432" viewBox="-118 0 1448 432">
        <defs>
            <clipPath id="matchClipPath">
                <rect x="26" y="5" width="200" height="45" rx="5" ry="5"/>
            </clipPath>
        </defs>
        <svg x="488" y="270">
            <path d="M228 26L236 26 236 1 244 1" class="bracket-line" data-line-length="41"/>
        </svg>
        <svg x="244" y="270">
            <path d="M228 1L236 1 236 27" class="bracket-line" data-line-length="41" data-reactid="16"/>
        </svg>
        <svg x="244" y="297" data-reactid="17">
            <path d="M228 26L236 26 236 1 244 1" class="bracket-line" data-line-length="41" data-reactid="18"/>
        </svg>
        <svg y="324" data-reactid="19">
            <path d="M228 26L236 26 236 1 244 1" class="bracket-line" data-line-length="41" data-reactid="20"/>
        </svg>
        <svg y="270" data-reactid="21">
            <path d="M228 26L236 26 236 1 244 1" class="bracket-line" data-line-length="41" data-reactid="22"/>
        </svg>
        <svg x="732" y="135" data-reactid="23">
            <path d="M228 1L244 1" class="bracket-line" data-line-length="14" data-reactid="24"/>
        </svg>
        <svg x="488" y="108" data-reactid="25">
            <path d="M228 1L236 1 236 26 244 26" class="bracket-line" data-line-length="41" data-reactid="26"/>
        </svg>
        <svg x="244" y="54" data-reactid="27">
            <path d="M228 1L236 1 236 54" class="bracket-line" data-line-length="68" data-reactid="28"/>
        </svg>
        <svg x="244" y="108" data-reactid="29">
            <path d="M228 53L236 53 236 1 244 1" class="bracket-line" data-line-length="68" data-reactid="30"/>
        </svg>
        <svg y="135" data-reactid="31">
            <path d="M228 1L236 1 236 27" class="bracket-line" data-line-length="41" data-reactid="32"/>
        </svg>
        <svg y="162" data-reactid="33">
            <path d="M228 26L236 26 236 1 244 1" class="bracket-line" data-line-length="41" data-reactid="34"/>
        </svg>
        <svg y="27" data-reactid="35">
            <path d="M228 1L236 1 236 27" class="bracket-line" data-line-length="41" data-reactid="36"/>
        </svg>
        <svg y="54" data-reactid="37">
            <path d="M228 26L236 26 236 1 244 1" class="bracket-line" data-line-length="41" data-reactid="38"/>
        </svg>
        <g data-reactid="39">
            <svg x="732" y="243" class="match -pending " data-identifier="13" data-reactid="40">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="41" class="a"> 13
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="42"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="43"/>
                <g data-reactid="44" class="b">
                    <svg y="5" class="match--player" data-reactid="45"><title data-reactid="46"> Loser of
                        12</title>
                        <defs data-reactid="47">
                            <clipPath data-reactid="48">
                                <rect x="50" width="143" height="22" data-reactid="49"/>
                            </clipPath>
                            <clipPath data-reactid="50"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="52"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="53"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="54" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="55" clip-path="url(#clipPath4392995)"> Loser of 12
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="56"><title data-reactid="57"/>
                        <defs data-reactid="58">
                            <clipPath data-reactid="59">
                                <rect x="50" width="143" height="22" data-reactid="60"/>
                            </clipPath>
                            <clipPath data-reactid="61"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="63"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="64"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="65" class="a"/>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="66"/>
                    </svg>
                </g>
            </svg>
            <svg x="488" y="270" class="match -pending " data-identifier="11" data-reactid="67">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="68" class="a"> 11
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="69"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="70"/>
                <g data-reactid="71" class="b">
                    <svg y="5" class="match--player" data-reactid="72"><title data-reactid="73"/>
                        <defs data-reactid="74">
                            <clipPath data-reactid="75">
                                <rect x="50" width="143" height="22" data-reactid="76"/>
                            </clipPath>
                            <clipPath data-reactid="77"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="79"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="80"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="81" class="a"/>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="82"><title data-reactid="83"/>
                        <defs data-reactid="84">
                            <clipPath data-reactid="85">
                                <rect x="50" width="143" height="22" data-reactid="86"/>
                            </clipPath>
                            <clipPath data-reactid="87"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="89"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="90"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="91" class="a"/>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="92"/>
                    </svg>
                </g>
            </svg>
            <svg x="244" y="297" class="match -pending " data-identifier="9" data-reactid="93">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="94" class="a"> 9
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="95"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="96"/>
                <g data-reactid="97" class="b">
                    <svg y="5" class="match--player" data-reactid="98"><title data-reactid="99"> Loser of 7</title>
                        <defs data-reactid="100">
                            <clipPath data-reactid="101">
                                <rect x="50" width="143" height="22" data-reactid="102"/>
                            </clipPath>
                            <clipPath data-reactid="103"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="105"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="106"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="107" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="108" clip-path="url(#clipPath2806438)"> Loser of 7
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="109"><title data-reactid="110"/>
                        <defs data-reactid="111">
                            <clipPath data-reactid="112">
                                <rect x="50" width="143" height="22" data-reactid="113"/>
                            </clipPath>
                            <clipPath data-reactid="114"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="116"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="117"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="118" class="a"/>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="119"/>
                    </svg>
                </g>
            </svg>
            <svg x="244" y="243" class="match -pending " data-identifier="10" data-reactid="120">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="121" class="a"> 10
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="122"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="123"/>
                <g data-reactid="124" class="b">
                    <svg y="5" class="match--player" data-reactid="125"><title data-reactid="126"> Loser of
                        8</title>
                        <defs data-reactid="127">
                            <clipPath data-reactid="128">
                                <rect x="50" width="143" height="22" data-reactid="129"/>
                            </clipPath>
                            <clipPath data-reactid="130"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="132"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="133"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="134" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="135" clip-path="url(#clipPath8426875)"> Loser of 8
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="136"><title data-reactid="137"/>
                        <defs data-reactid="138">
                            <clipPath data-reactid="139">
                                <rect x="50" width="143" height="22" data-reactid="140"/>
                            </clipPath>
                            <clipPath data-reactid="141"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="143"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="144"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="145" class="a"/>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="146"/>
                    </svg>
                </g>
            </svg>
            <svg y="324" class="match -pending " data-identifier="6" data-reactid="147">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="148" class="a"> 6
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="149"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="150"/>
                <g data-reactid="151" class="b">
                    <svg y="5" class="match--player" data-reactid="152"><title data-reactid="153"> Loser of
                        3</title>
                        <defs data-reactid="154">
                            <clipPath data-reactid="155">
                                <rect x="50" width="143" height="22" data-reactid="156"/>
                            </clipPath>
                            <clipPath data-reactid="157"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="159"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="160"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="161" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="162" clip-path="url(#clipPath2289858)"> Loser of 3
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="163"><title data-reactid="164"> Loser of
                        4</title>
                        <defs data-reactid="165">
                            <clipPath data-reactid="166">
                                <rect x="50" width="143" height="22" data-reactid="167"/>
                            </clipPath>
                            <clipPath data-reactid="168"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="170"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="171"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="172" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="173" clip-path="url(#clipPath7197794)"> Loser of 4
                        </text>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="174"/>
                    </svg>
                </g>
            </svg>
            <svg y="270" class="match -pending " data-identifier="5" data-reactid="175">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="176" class="a"> 5
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="177"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="178"/>
                <g data-reactid="179" class="b">
                    <svg y="5" class="match--player" data-reactid="180"><title data-reactid="181"> Loser of
                        1</title>
                        <defs data-reactid="182">
                            <clipPath data-reactid="183">
                                <rect x="50" width="143" height="22" data-reactid="184"/>
                            </clipPath>
                            <clipPath data-reactid="185"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="187"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="188"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="189" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="190" clip-path="url(#clipPath5068362)"> Loser of 1
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="191"><title data-reactid="192"> Loser of
                        2</title>
                        <defs data-reactid="193">
                            <clipPath data-reactid="194">
                                <rect x="50" width="143" height="22" data-reactid="195"/>
                            </clipPath>
                            <clipPath data-reactid="196"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="198"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="199"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="200" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="201" clip-path="url(#clipPath4094562)"> Loser of 2
                        </text>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="202"/>
                    </svg>
                </g>
            </svg>
            <svg x="976" y="108" class="match -pending " data-identifier="15" data-reactid="203">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="204" class="a"> 15
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="205"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="206"/>
                <g data-reactid="207" class="b">
                    <svg y="5" class="match--player" data-reactid="208"><title data-reactid="209"/>
                        <defs data-reactid="210">
                            <clipPath data-reactid="211">
                                <rect x="50" width="143" height="22" data-reactid="212"/>
                            </clipPath>
                            <clipPath data-reactid="213"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="215"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="216"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="217" class="a"/>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="218"><title data-reactid="219"> Loser of 14 (if
                        necessary)</title>
                        <defs data-reactid="220">
                            <clipPath data-reactid="221">
                                <rect x="50" width="143" height="22" data-reactid="222"/>
                            </clipPath>
                            <clipPath data-reactid="223"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="225"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="226"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="227" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="228" clip-path="url(#clipPath568712)"> Loser of 14 (if necessary)
                        </text>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="229"/>
                    </svg>
                </g>
            </svg>
            <svg x="732" y="108" class="match -pending " data-identifier="14" data-reactid="230">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="231" class="a"> 14
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="232"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="233"/>
                <g data-reactid="234" class="b">
                    <svg y="5" class="match--player" data-reactid="235"><title data-reactid="236"/>
                        <defs data-reactid="237">
                            <clipPath data-reactid="238">
                                <rect x="50" width="143" height="22" data-reactid="239"/>
                            </clipPath>
                            <clipPath data-reactid="240"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="242"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="243"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="244" class="a"/>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="245"><title data-reactid="246"> Winner of
                        Losers Bracket</title>
                        <defs data-reactid="247">
                            <clipPath data-reactid="248">
                                <rect x="50" width="143" height="22" data-reactid="249"/>
                            </clipPath>
                            <clipPath data-reactid="250"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="252"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="253"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="254" class="a"/>
                        <text x="55" y="15" width="147" height="12" class="match--player-name -placeholder"
                              data-reactid="255" clip-path="url(#clipPath3314727)"> Winner of
                            Losers Bracket
                        </text>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="256"/>
                    </svg>
                </g>
            </svg>
            <svg x="488" y="81" class="match -pending " data-identifier="12" data-reactid="257">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="258" class="a"> 12
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="259"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="260"/>
                <g data-reactid="261" class="b">
                    <svg y="5" class="match--player" data-reactid="262"><title data-reactid="263"/>
                        <defs data-reactid="264">
                            <clipPath data-reactid="265">
                                <rect x="50" width="143" height="22" data-reactid="266"/>
                            </clipPath>
                            <clipPath data-reactid="267"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="269"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="270"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="271" class="a"/>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="272"><title data-reactid="273"/>
                        <defs data-reactid="274">
                            <clipPath data-reactid="275">
                                <rect x="50" width="143" height="22" data-reactid="276"/>
                            </clipPath>
                            <clipPath data-reactid="277"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="279"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="280"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="281" class="a"/>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="282"/>
                    </svg>
                </g>
            </svg>
            <svg x="244" y="135" class="match -pending " data-identifier="8" data-reactid="283">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="284" class="a"> 8
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="285"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="286"/>
                <g data-reactid="287" class="b">
                    <svg y="5" class="match--player" data-reactid="288"><title data-reactid="289"/>
                        <defs data-reactid="290">
                            <clipPath data-reactid="291">
                                <rect x="50" width="143" height="22" data-reactid="292"/>
                            </clipPath>
                            <clipPath data-reactid="293"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="295"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="296"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="297" class="a"/>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="298"><title data-reactid="299"/>
                        <defs data-reactid="300">
                            <clipPath data-reactid="301">
                                <rect x="50" width="143" height="22" data-reactid="302"/>
                            </clipPath>
                            <clipPath data-reactid="303"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="305"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="306"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="307" class="a"/>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="308"/>
                    </svg>
                </g>
            </svg>
            <svg x="244" y="27" class="match -pending " data-identifier="7" data-reactid="309">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="310" class="a"> 7
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="311"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="312"/>
                <g data-reactid="313" class="b">
                    <svg y="5" class="match--player" data-reactid="314"><title data-reactid="315"/>
                        <defs data-reactid="316">
                            <clipPath data-reactid="317">
                                <rect x="50" width="143" height="22" data-reactid="318"/>
                            </clipPath>
                            <clipPath data-reactid="319"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="321"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="322"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="323" class="a"/>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="324"><title data-reactid="325"/>
                        <defs data-reactid="326">
                            <clipPath data-reactid="327">
                                <rect x="50" width="143" height="22" data-reactid="328"/>
                            </clipPath>
                            <clipPath data-reactid="329"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="331"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="332"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="333" class="a"/>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="334"/>
                    </svg>
                </g>
            </svg>
            <svg y="162" class="match -pending " data-identifier="4" data-reactid="335">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="336" class="a"> 4
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="337"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="338"/>
                <g data-reactid="339" class="b">
                    <svg y="5" class="match--player" data-reactid="340"><title data-reactid="341"/>
                        <defs data-reactid="342">
                            <clipPath data-reactid="343">
                                <rect x="50" width="143" height="22" data-reactid="344"/>
                            </clipPath>
                            <clipPath data-reactid="345"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="347"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="348"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="349" class="a"> 3
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="350"><title data-reactid="351"/>
                        <defs data-reactid="352">
                            <clipPath data-reactid="353">
                                <rect x="50" width="143" height="22" data-reactid="354"/>
                            </clipPath>
                            <clipPath data-reactid="355"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="357"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="358"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="359" class="a"> 6
                        </text>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="360"/>
                    </svg>
                </g>
            </svg>
            <svg y="108" class="match -pending " data-identifier="3" data-reactid="361">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="362" class="a"> 3
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="363"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="364"/>
                <g data-reactid="365" class="b">
                    <svg y="5" class="match--player" data-reactid="366"><title data-reactid="367"/>
                        <defs data-reactid="368">
                            <clipPath data-reactid="369">
                                <rect x="50" width="143" height="22" data-reactid="370"/>
                            </clipPath>
                            <clipPath data-reactid="371"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="373"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="374"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="375" class="a"> 2
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="376"><title data-reactid="377"/>
                        <defs data-reactid="378">
                            <clipPath data-reactid="379">
                                <rect x="50" width="143" height="22" data-reactid="380"/>
                            </clipPath>
                            <clipPath data-reactid="381"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="383"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="384"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="385" class="a"> 7
                        </text>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="386"/>
                    </svg>
                </g>
            </svg>
            <svg y="54" class="match -pending " data-identifier="2">
                <text x="11" y="31" width="24" height="10" class="match--identifier" class="a"> 2
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="389"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="390"/>
                <g class="b">
                    <svg y="5" class="match--player" data-reactid="392"><title data-reactid="393"/>
                        <defs data-reactid="394">
                            <clipPath data-reactid="395">
                                <rect x="50" width="143" height="22" data-reactid="396"/>
                            </clipPath>
                            <clipPath data-reactid="397"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="399"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="400"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="401" class="a"> 4
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="402"><title data-reactid="403"/>
                        <defs data-reactid="404">
                            <clipPath data-reactid="405">
                                <rect x="50" width="143" height="22" data-reactid="406"/>
                            </clipPath>
                            <clipPath data-reactid="407"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="409"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="410"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="411" class="a"> 5
                        </text>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="412"/>
                    </svg>
                </g>
            </svg>
            <svg class="match -pending " data-identifier="1" data-reactid="413">
                <text x="11" y="31" width="24" height="10" class="match--identifier" data-reactid="414" class="a"> 1
                </text>
                <rect x="24" y="3" width="204" height="49" rx="3" ry="3" class="match--wrapper-background "
                      data-reactid="415"/>
                <rect x="26" y="5" width="200" height="45" rx="3" ry="3" class="match--base-background"
                      data-reactid="416"/>
                <g data-reactid="417" class="b">
                    <svg y="5" class="match--player" data-reactid="418"><title data-reactid="419"/>
                        <defs data-reactid="420">
                            <clipPath data-reactid="421">
                                <rect x="50" width="143" height="22" data-reactid="422"/>
                            </clipPath>
                            <clipPath data-reactid="423"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="425"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="426"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="427" class="a"> 1
                        </text>
                    </svg>
                    <svg y="28" class="match--player" data-reactid="428"><title data-reactid="429"/>
                        <defs data-reactid="430">
                            <clipPath data-reactid="431">
                                <rect x="50" width="143" height="22" data-reactid="432"/>
                            </clipPath>
                            <clipPath data-reactid="433"/>
                        </defs>
                        <path d="M50 0h147v22h-147Z" class="match--player-background -empty" data-reactid="435"/>
                        <path d="M26 0h24v22h-24Z" class="match--seed-background" data-reactid="436"/>
                        <text x="38" y="14" width="10" height="12" class="match--seed" data-reactid="437" class="a"> 8
                        </text>
                        <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider" data-reactid="438"/>
                    </svg>
                </g>
            </svg>
        </g>
    </svg>
</div>