<div class="list-group">
    <p class="list-group-item pr-5 active">
        League Manager Panel
    </p>
    <a href="/manager/league" class="list-group-item list-group-item-action">Manage League</a>
    <a href="/manager/championship" class="list-group-item list-group-item-action">Manage Championships</a>
    <a href="/manager/season" class="list-group-item list-group-item-action">Manage Seasons</a>
    <a href="/manager/match" class="list-group-item list-group-item-action">Manage Matches</a>
    <a href="/manager/team" class="list-group-item list-group-item-action">Manage Teams</a>
    <a href="/manager/player" class="list-group-item list-group-item-action">Manage Players</a>
    <a href="/manager/admin" class="list-group-item list-group-item-action">Manage Admin</a>
    <a href="/manager/logs" class="list-group-item list-group-item-action disabled">View Admin Log</a>
</div>